/*all padding margin 0px*/
* {
	padding: 0px;
	margin: 0px;
}
.container {
	width: 1140px;
	margin: 0 auto;
}

/*-----Header-----*/

header {
	width: 100%;
	float: left;
}


/*-----Section 1-----*/

.cover{
	background-image: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
}
.cover-box {
    width: 40%;
    float: left;
    background-color: #03030336;
    margin: 65px 10px;
    padding: 70px;
    border-radius: 3px;
}
.cover-box h1{
    text-align: center;
    font-size: 59px;
    line-height: 70px;
    text-transform: uppercase;
}
.cover-box p {
    text-align: center;
    font-size: 19px;
}
.cover-btn i {
    display: block;
    float: left;
    width: 45%;
    margin: 12px 11px;
    padding: 7px 0px;
    font-size: 22px;
    background-color: #8bc43f;
    color: white;
    border:none;
    border-radius: 3px;
}

/*----Section 1----*/


/*--Hover Effects--*/
/*--Buttons--*/
button {
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

button:hover {
    background-color: black;
}
